In [63]:
!pip install pandas sqlalchemy sqlacodegen

Requirement already satisfied: pandas in /Users/dumoura/opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: sqlalchemy in /Users/dumoura/opt/anaconda3/lib/python3.8/site-packages (1.3.20)
Requirement already satisfied: pytz>=2017.2 in /Users/dumoura/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/dumoura/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/dumoura/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /Users/dumoura/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting sqlacodegen
  Downloading sqlacodegen-2.3.0-py2.py3-none-any.whl (13 kB)
Collecting inflect>=0.2.0
  Downloading inflect-5.0.2-py3-none-any.whl (31 kB)
Installing collected packages: inflect, sqlacodegen
Successfully installed inflect-5.0.2 sqlacodegen-2.3.0
WARNING: You are using pip version 20.3.3; however, version 21.0 is available.
You should consider upgrading via the '/Users/dumoura/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
import pickle

In [4]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String

## First part 
Intro to pickel

In [5]:
data = [{'Name':'Du'}]

with open("users.pkl", "wb") as f:
    pickle.dump(data, f)

In [6]:
data_from_pkl = pickle.load(open("users.pkl", 'rb'))
print(data_from_pkl, type(data_from_pkl))

[{'Name': 'Du'}] <class 'list'>

In [7]:
df = pd.DataFrame(data)
df.head()

  Name
0   Du

In [8]:
df.to_pickle("users.pkl")

In [9]:
df2 = pd.read_pickle("users.pkl")
df2.head()

  Name
0   Du

## SQL Alchemy

In [10]:
class Movie:
    name = "Unknown"

In [11]:
movie_obj = Movie()

In [12]:
movie_obj.name

'Unknown'

### Pergunta
How can I change that name from "Unknown" to something?

In [13]:
# I could just insert a name into Movie("x")

movie_obj = Movie("Interstelar")
movie_obj.name

TypeError: Movie() takes no arguments

### Resposta

Unfortunately, the python class doesn't allow this change to happen -> "Movie() takes no arguments." 
So I have to allow something like that to happen; I have to overwrite

In [14]:
class Movie:
    name = "Unknown"
    genre = "Action"
    
    def __init__(self, name = "", *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.name = name

In [15]:
movie_obj = Movie("Interstelar")
movie_obj.name

'Interstelar'

### Problema

However, if I want to add a new argument; like, "genre." I'll run the same problem over and over again

In [16]:
movie_obj = Movie("Interstelar", genre = "Sci-Fi")
movie_obj.name

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

# O que fazer?

Recently, Python adds a new type (data class) that we can use without __init__ method

In [17]:
from dataclasses import dataclass

In [18]:
@dataclass
class Movie:
    name:str = "Unknown"
    genre:str = "Unknown"
    year:int = None

In [19]:
movie_obj = Movie("Interstelar", genre = "Sci-Fi")
movie_obj

Movie(name='Interstelar', genre='Sci-Fi', year=None)

## So, 

what we are going to do is use this class method to store data into a database. And this is what SQL alchemy does.
How are we going to do that? By simply declaring a dictionary with key-value pairs

In [20]:
#The data (more the one, this is why a list) to be insert into dataclass

data = [{
    "name":"Interstelar",
    "genre":"Sci-Fi"
},
{
    "name":"The Martian",
    "genre":"Sci-Fi"  
},
{
    "name":"Arrival",
    "genre":"Sci-Fi"  
}
]

if we look at this, we can see that it can work as rows and columns 
however, in python (pandas) we have something call DataFrame ;)

In [21]:
df = pd.DataFrame(data)
df.head()

          name   genre
0  Interstelar  Sci-Fi
1  The Martian  Sci-Fi
2      Arrival  Sci-Fi

# Agora a base de dados 

SQL Alchemy

In [22]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

1. Temos que definir que engine vamos usar. Como python já vem com SQL; vamos de SQL
2. Depois, declarmamos a engine

## SQL

Python já vem com sqlite - caso contrário teria que setup outro eng

In [23]:
#set engine for sqlite
engine = create_engine("sqlite:///app.db") #...'app2.db' nome de revisão. pois já tinha criado um app.db

## 3. Agora, vamos criar uma session 

What we are going to be doing is creating all sorts of data points. Then, committing them to our session and saving them to our database.

In [24]:
#star a session
Session = sessionmaker(bind=engine)
my_sess = Session()

## Pergunta

So, how do I turn this 

    @dataclass
    class Movie:
        name:str = "Unknown"
        genre:str = "Unknown"
        year:int = None
    
into a database table, what may be understood like a spreadsheet sheet ?

In [25]:
# from sqlalchemy import Column, Integer, String

# @dataclass
# class Movie: #table
#     __tablename__ = "movies" #table name. normalmente, the class name with a S add to that.

#     id = Column(Integer, primary_key = True) # I need to set this. It is call primary-key; an auto created column
#     name = Column(String) #ao invez de defauts like = "Unknown" devo passa Column from sqlalchemy. Em seguida os datatypes (str e int) para dentro de Column - Integer, String
#     genre = Column(String) #col
#     year = Column(Integer, nullable=True) #col

#     #which saved istance = row

# However, 

This thing that we have done in the previus cel can not be treat as an object. So...
I need do inser a declararive base clase. So.. I'll copy and past and creat a new cel... bellow

Copiei a sessão tbm para ficar mais facil de ver o processo todp

In [26]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
#star a session
Session = sessionmaker(bind=engine)
my_sess = Session()

In [28]:
Base = declarative_base()

In [29]:
#afeter all that... we have created something call a model


class Movie(Base): # table
    __tablename__ = "movies"
    
    id = Column(Integer, primary_key=True) # auto created for us
    name = Column(String) # 'Unknown' # col
    genre = Column(String) # 'Action' # col
    description = Column(String) # 'Action' # col
    year = Column(Integer, nullable=True) # None # col
    
    
    def __repr__(self):
        return f"<Movie name={self.name}>"
        

#saved instance = row

In [30]:
# Add table to database

Base.metadata.create_all(engine)

In [69]:
# criar uma entrada para a base de dados criada

movie_obj = Movie(name = 'Interstelar', genre = 'Sci-Fi')
print(movie_obj.name, movie_obj.description)

Interstelar None

In [70]:
print(movie_obj.id) # se faço isso eu tenho nada porque eeu ainda não add e commit

None

In [71]:
#comitar o objeto na session / pode ser uma lista

my_sess.add(movie_obj) #prep to save

In [72]:
my_sess.commit() #savee

In [73]:
movie_obj.id

5

In [74]:
movie_obj2 = Movie(name = 'Martian', genre = 'Sci-Fi')
print(movie_obj2.name, movie_obj2.id)

Martian None

In [75]:
my_sess.add(movie_obj2)

In [76]:
movie_obj3 = Movie(name = 'Inception', genre = 'Sci-Fi')
print(movie_obj3.name, movie_obj3.id)

Inception None

In [77]:
my_sess.add(movie_obj3)

In [78]:
my_sess.commit() #savee

In [79]:
print(movie_obj2.id, movie_obj3.id)

6 7

## what if I want to change...?

I need to go to my file change the name of the app / the name of my database
Then I add another column, for instance. Obs. Before this, I only had four columns

## Crud ##

    Creat
    Retreive
    Update
    Delete

## Creat

In [43]:
#Creat a session

Session = sessionmaker(bind=engine)
session = Session()

In [44]:
#BASIC CRUD
#Creat

movie = Movie(name='Guardians of the Galaxy') #initialize a instance
session.add(movie) # add
session.commit() #commit

In [45]:
print(movie.id)

4

## Retreive

In [53]:
#Retreive - get something
#Get (one item)

movie_a = session.query(Movie).get(3)
print(movie_a.id, movie_a.name)

3 Inception

In [47]:
#list 

# filtering database by some soret of value
# q set
qs = session.query(Movie).all()
print(qs)

[<Movie name=Interstelar>, <Movie name=Martian>, <Movie name=Inception>, <Movie name=Guardians of the Galaxy>]

In [48]:
# filtering
qs= session.query(Movie).filter_by(name="Guardians of the Galaxy").all()
qs

In [49]:
# list - filter by calumn value containing XY
qs = session.query(Movie).filter(Movie.name.contains("Galaxy")).all()
qs

In [52]:
my_query = input('what are you looking for\n') or ('Uknown')
qs = session.query(Movie).filter(Movie.name.contains(my_query)).all()
print(qs)

what are you looking for
Inception
[<Movie name=Inception>]

## Update

In [56]:
# simple update
movie_a = session.query(Movie).get(3)
movie_a.description = "A dream within a dream"
session.commit()
print(movie_a.id, movie_a.name, movie_a.description)

3 Inception A dream within a dream

In [57]:
qs = session.query(Movie).filter(Movie.name.contains("Galaxy")).all()
for movie_obj in qs:
    movie_obj.name = "Guardiões das Galaxias"
session.commit()

In [58]:
qs = session.query(Movie).all()
print(qs)

[<Movie name=Interstelar>, <Movie name=Martian>, <Movie name=Inception>, <Movie name=Guardiões das Galaxias>]

## Delete

In [60]:
movie_a = session.query(Movie).get(2)
session.delete(movie_a)
session.commit()

In [61]:
session.flush()

In [62]:
qs = session.query(Movie).all()
print(qs)

[<Movie name=Interstelar>, <Movie name=Inception>, <Movie name=Guardiões das Galaxias>]

# SQLAlchemy & Pandas

In [80]:
!sqlacodegen sqlite:///app.db

# coding: utf-8
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class Movie(Base):
    __tablename__ = 'movies'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    description = Column(String)
    year = Column(Integer)

In [85]:
engine = create_engine("sqlite:///app2.db")
Session = sessionmaker(bind=engine)
session = Session()

from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class MovieApp2(Base):
    __tablename__ = 'movies'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    description = Column(String)
    year = Column(Integer)
    
    def __repr__(self):
        return f"<Movie name={self.name}>"

In [86]:
qs = session.query(MovieApp2).all()
print(qs)

[<Movie name=Interstelar>, <Movie name=Inception>, <Movie name=Guardiões das Galaxias>, <Movie name=Interstelar>, <Movie name=Martian>, <Movie name=Inception>]

In [88]:
for old_obj in qs:
    stored_data_dict = old_obj.__dict__
    print(stored_data_dict)
#     movie_obj = Movie(name=old_obj.name, genre=old_obj.genre, year=old_obj.year)
#     print(movie_obj.name)
#     my_sess.add(movie_obj)
# my_sess.commit()

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fcd8ea394f0>, 'description': None, 'name': 'Interstelar', 'year': None, 'genre': 'Sci-Fi', 'id': 1}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fcd9110cb50>, 'description': 'A dream within a dream', 'name': 'Inception', 'year': None, 'genre': 'Sci-Fi', 'id': 3}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fcd9110c8e0>, 'description': None, 'name': 'Guardiões das Galaxias', 'year': None, 'genre': None, 'id': 4}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fcd9110c400>, 'description': None, 'name': 'Interstelar', 'year': None, 'genre': 'Sci-Fi', 'id': 5}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fcd9110c460>, 'description': None, 'name': 'Martian', 'year': None, 'genre': 'Sci-Fi', 'id': 6}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fcd9110c6d0>, 'description': None, 'name': 'Inception', 'year': None, 'genre': 'Sci-Fi', 'id': 7}

In [91]:
for old_obj in qs:
#     stored_data_dict = old_obj.__dict__
#     print(stored_data_dict)
    movie_obj = Movie(name=old_obj.name, genre=old_obj.genre, year=old_obj.year)
    print(movie_obj.name)
    my_sess.add(movie_obj)
my_sess.commit()

Interstelar
Inception
Guardiões das Galaxias
Interstelar
Martian
Inception

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) attempt to write a readonly database
[SQL: INSERT INTO movies (name, genre, description, year) VALUES (?, ?, ?, ?)]
[parameters: ('Interstelar', 'Sci-Fi', None, None)]
(Background on this error at: http://sqlalche.me/e/13/e3q8) (Background on this error at: http://sqlalche.me/e/13/7s2a)

In [94]:
old_engine = create_engine("sqlite:///app2.db")
old_df = pd.read_sql_table("movies", old_engine)
old_df.head()

   id                    name   genre             description  year
0   1             Interstelar  Sci-Fi                    None  None
1   3               Inception  Sci-Fi  A dream within a dream  None
2   4  Guardiões das Galaxias    None                    None  None
3   5             Interstelar  Sci-Fi                    None  None
4   6                 Martian  Sci-Fi                    None  None

In [95]:
current_engine = create_engine("sqlite:///app2.db")
current_df = pd.read_sql_table("movies", current_engine)
current_df.head()

   id                    name   genre             description  year
0   1             Interstelar  Sci-Fi                    None  None
1   3               Inception  Sci-Fi  A dream within a dream  None
2   4  Guardiões das Galaxias    None                    None  None
3   5             Interstelar  Sci-Fi                    None  None
4   6                 Martian  Sci-Fi                    None  None

In [96]:
final_df = pd.concat([current_df, old_df])
final_df.head(n=20)

   id                    name   genre             description  year
0   1             Interstelar  Sci-Fi                    None  None
1   3               Inception  Sci-Fi  A dream within a dream  None
2   4  Guardiões das Galaxias    None                    None  None
3   5             Interstelar  Sci-Fi                    None  None
4   6                 Martian  Sci-Fi                    None  None
5   7               Inception  Sci-Fi                    None  None
0   1             Interstelar  Sci-Fi                    None  None
1   3               Inception  Sci-Fi  A dream within a dream  None
2   4  Guardiões das Galaxias    None                    None  None
3   5             Interstelar  Sci-Fi                    None  None
4   6                 Martian  Sci-Fi                    None  None
5   7               Inception  Sci-Fi                    None  None

In [97]:

final_df = final_df[['name', 'genre', 'description', 'year']]
final_df.reset_index(inplace=True, drop=True)
final_df.head(n=20)

                      name   genre             description  year
0              Interstelar  Sci-Fi                    None  None
1                Inception  Sci-Fi  A dream within a dream  None
2   Guardiões das Galaxias    None                    None  None
3              Interstelar  Sci-Fi                    None  None
4                  Martian  Sci-Fi                    None  None
5                Inception  Sci-Fi                    None  None
6              Interstelar  Sci-Fi                    None  None
7                Inception  Sci-Fi  A dream within a dream  None
8   Guardiões das Galaxias    None                    None  None
9              Interstelar  Sci-Fi                    None  None
10                 Martian  Sci-Fi                    None  None
11               Inception  Sci-Fi                    None  None

In [99]:
final_df.to_sql(
    "movies_2",
    current_engine,
    dtype={
        "name": String,
        "genre": String,
        "description": String,
        "year": Integer
    }
    
)

In [101]:
!sqlacodegen sqlite:///app2.db

# coding: utf-8
from sqlalchemy import BigInteger, Column, Integer, String, Table
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata


class Movie(Base):
    __tablename__ = 'movies'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    description = Column(String)
    year = Column(Integer)


t_movies_2 = Table(
    'movies_2', metadata,
    Column('index', BigInteger, index=True),
    Column('name', String),
    Column('genre', String),
    Column('description', String),
    Column('year', Integer)
)

In [103]:
import sqlite3

In [115]:
conx = sqlite3.connect('app2.db')

In [116]:
conx2 = create_engine("sqlite:///app2.db")

In [118]:
df = pd.read_sql_query("SELECT * FROM movies_2", conx) 
df.head()

   index                    name   genre             description  year
0      0             Interstelar  Sci-Fi                    None  None
1      1               Inception  Sci-Fi  A dream within a dream  None
2      2  Guardiões das Galaxias    None                    None  None
3      3             Interstelar  Sci-Fi                    None  None
4      4                 Martian  Sci-Fi                    None  None